<div>
  <div class="flex flex--space-between flex--align-center">
    <div class="h5">
      <small>Exercise {{@order}}</small>
      {{capitalize @workoutBlock.exercise}}

    </div>
    <div>
      <Icon
        @tooltip="Delete Exercise"
        @icon="trash-alt"
        @prefix="far"
        {{on 'click' (fn @removeWorkoutBlock @workoutSession @workoutBlock)}}
      />
      <LinkTo
        @iconButton={{true}}
        @noBorder={{true}}
        @icon="edit"
        @route="workout.new.edit-exercise"
        @query={{hash workoutBlockId=(if @workoutBlock.id @workoutBlock.id @workoutBlock.guid)}}
      >
        <Icon @icon="edit" @prefix="far" @tooltip="Edit exercise"/>
      </LinkTo>
    </div>
  </div>
  <br>
  Note
  <Form::Field >
    <TextInput @value={{@workoutBlock.note}}/>
  </Form::Field>
  <WorkoutProgramTemplate::Form::ExerciseSets
    @workoutBlock={{@workoutBlock}}
    @addWorkoutProgramSet={{fn @addWorkoutProgramSet}}
    @removeWorkoutProgramSet={{fn @removeWorkoutProgramSet }}
  />
</div>
