<FullScreenModal @onClose={{action this.handleClose}}>
  <Toolbar
    @title="Lift Record"
    @backRoute="exercises.exercise.records"
    @showCloseIcon={{true}}
    @actions={{array
      (hash icon="share" action=(fn this.toggleConfirmShareModal))
    }}
  />
<div class="masthead">
  <div class="masthead__container">
    <div>{{@liftRecord.exercise.name}}</div>
    <div class="h2">{{@liftRecord.weightLifted}}kg for {{@liftRecord.reps}} Reps</div>
    <div class="record">
      <FaIcon @icon="medal" @size="2x" @primary={{true}}/>
    </div>
  </div>
</div>
<div class="content-container">
  {{#if @liftRecord.containsVideo}}
    <video src={{@liftRecord.videoURL}} controls>
    </video>
  {{else}}
    <div class="box box--dashed">
      <Button @text="Upload Video" @icon="video" @primary={{true}} />
    </div>
  {{/if}}
</div>
</FullScreenModal>

{{#if this.showConfirmShareModal}}
  <ConfirmModal
    @onCancel={{fn this.toggleConfirmShareModal}}
    @onConfirm={{fn this.shareRecord @liftRecord}}
    @title="Share Lift Record?"
    @text="Lift record will be posted to your social media feed"
  />
{{/if}}

{{#if this.showConfirmDeleteModal}}
  <ConfirmModal
    @onCancel={{fn this.toggleConfirmDeleteModal}}
    @onConfirm={{fn this.deleteRecord @liftRecord}}
    @title="Delete Lift Record?"
    @text="are you sure you want ot delete this record?"
  />
{{/if}}
