{{#high-charts mode=mode chartOptions=chartOptions content=content theme=theme as |chart|}}
  {{my-custom-legend chart=chart}}
{{/high-charts}}
<div class="card">
  <div class="card__body">
    <div class="flex flex--flex-end">
      <Button
        @icon="sort"
        @text="{{if this.sortOptionIsSelected this.selectedSortOption.label "Sort"}}"
        @secondary={{this.sortOptionIsSelected}}
        {{on 'click' (fn this.toggleSortModal)}}
      />
      <Button
        @icon={{unless this.filtersApplied "filter"}}
        @text="{{if this.filtersApplied this.selectedRep.label "Filter"}}"
        @secondary={{this.filtersApplied}}
        {{on 'click' (fn this.toggleFilterModal)}}
      />
    </div>
    <div class="card__section">
      <ul class="card__list">
        {{#each this.records as |record|}}
        <li class="card__list-item card__list-item--link">
          <LinkTo class="card__list-item-link" @route={{this.route}} @model={{record}}>
            <div class="flex flex--space-between flex flex--align-center">
              <div>
                <div class="h5">{{record.exercise.name}}</div>
                {{record.weightLifted}} kgs for {{record.reps}} Reps
              </div>
              <div>
                <span class="text text--muted text--small">
                  {{due-date record.date 'MM-DD-YYYY'}}
                </span>
              </div>
            </div>
          </LinkTo>
        </li>
        {{else}}
        <ZeroStateMessage @message="You have not lift records" @icon="dumbbell"/>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{#if this.showSortModal}}
  <ModalDialog @translucentOverlay={{true}}>
    <div class="card__body">
      <div class="h3 flex flex--space-between flex--align-center">
        Sort by <Icon @icon="times" {{on 'click' (fn this.toggleSortModal)}} />
      </div>
      <ul class="card__list">
        {{#each this.sortOptions as |option|}}
          <li
            class="card__list-item flex flex--space-between flex--align-center"
            {{on 'click' (fn this.onSelectSortOption option)}}
          >
            {{option.label}}
            {{#if (eq this.selectedSortOption option)}}
              <Icon @icon="check" @primary={{true}}/>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </ModalDialog>
{{/if}}

{{#if this.showFilterModal}}
  <ModalDialog @translucentOverlay={{true}}>
    <div class="card__body">
      <h3 class="h3 flex flex--space-between flex--align-center">
        Filter <Icon @icon="times" {{on 'click' (fn this.toggleFilterModal)}} />
      </h3>
      <div class="">
        <div class="h5">Reps</div>
        <ul class="inline-list">
          <li class="inline-list__item">
            <Button
              @text="Any"
              @primary={{not this.filtersApplied}}
              {{on 'click' (fn this.resetRepsFilter option)}}
            />
          </li>
          {{#each this.filterOptions.reps.options as |option|}}
            <li class="inline-list__item">
              <Button
                @text={{option.label}}
                @primary={{eq this.filterOptions.reps.selected option.value}}
                {{on 'click' (fn this.onSelectFilterOption option)}}
              />
            </li>
          {{/each}}
        </ul>
      </div>
      {{!-- <ul class="card__list">
        {{#each this.filterOptions as |filterOption|}}
          <li
            class="card__list-item flex flex--space-between flex--align-center"
            {{on 'click' (fn this.onSelectFilterOption filterOption)}}
          >
            {{filterOption.label}}
            {{#if (eq this.selectedFilterOption option)}}
              <Icon @icon="check" @primary={{true}}/>
            {{/if}}
          </li>
        {{/each}}
      </ul> --}}
    </div>
  </ModalDialog>
{{/if}}

{{!-- {{#if @records.length}}
  <ul class="list box box--transparent">
    {{#each @records as |record|}}
      <li class="card list__item">
        <LinkTo @route={{@recordPath}} @model={{record}} data-test-lift-record>
          <div class="media media--align-center">
            <div class="media__asset">
              <div class="circle">
                <FaIcon @icon="medal" />
              </div>
            </div>
            <div class="media__body">
              <h3 data-test-lift-record-exercise>{{capitalize record.exercise.name}}</h3>
              <div>
                <span data-test-lift-record-weight-lifted>{{record.weightLifted}}</span>kgs for
                <span data-test-lift-record-reps>{{record.reps}}</span>
                reps
              </div>
            </div>
            <div class="media__actions">
              <div class="">
              Due date
            </div>
              <span class="text text--muted text--small">1, Jan, 2010</span><br>

            </div>
          </div>
          <span data-test-lift-record-date>Date: {{format-date record.date}}</span>
          <div class="flex">
            <LinkTo
            class="button"
            @route="records.edit"
            @model={{@record}}
            data-test-delete-edit-Link>
            <FaIcon @icon="edit" @prefix="far" />
            <span>Edit</span>
          </LinkTo>
          <Button
          onclick={{this.toggleModal}}
          >
          <FaIcon @icon="trash-alt" @prefix="far" />
          <span>Delete</span>
        </Button>
        </div>
      </LinkTo>

      </li>
    {{/each}}
  </ul>
{{else}}

  <ZeroStateMessage @message="No Records" @icon="trophy" />

{{/if}} --}}
