<ModalDialog
  @onClose={{fn this.onCancel}}
  @targetAttachment="center"
  @translucentOverlay={{true}}
  @containerClass="confirm-modal"
>
  {{#if @title}}
    <h2 data-test-confirm-modal-title class="confirm-modal__title">{{@title}}</h2>
  {{/if}}
    {{#if @text}}
      <p class="confirm-modal__text">{{@text}}</p>
    {{/if}}
    <div class="confirm-modal__body">
      {{yield}}
    </div>
  <div>
    <Button @primary={{true}} {{action this.onConfirm}} @text="Yes" />
    <Button @secondary={{true}} {{action this.onCancel}} @text="No" />
  </div>
</ModalDialog>
