<div class="input {{if this.errors "is-invalid"}}">
  <label class="input__label">
    {{this.label}}
  </label>
  <Input
    type={{if this.type this.type "text"}}
    @value={{this.value}}
    @model={{this.model}}
    disabled={{this.disabled}}

  />
  {{#if this.errors}}
    <div class="input__errors">
      {{#each this.errors as |error|}}
        <div class="input__error">
          <FaIcon @icon="info-circle"/>
          <span>{{error.message}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
