<button type="button" class="button" onclick={{@onClick}} ...attributes>
  {{#if @text}}
    {{#if @icon}}
      <FaIcon @icon={{@icon}}/>
    {{/if}}
    {{@text}}
  {{else}}
    {{#if @icon}}
      <FaIcon class="button__icon" @icon={{@icon}}/>
    {{/if}}
    {{yield}}
  {{/if}}
</button>
