<button
  type={{if @submit "submit" "button"}}
  class="button
    {{if @primaryButton "primary-button"}}
    {{if @textButton "text-button"}}
    {{if @outlinedButton "outlined-button"}}
    "
  ...attributes
>
  {{#if @text}}
    {{#if @icon}}
      <FaIcon @icon={{@icon}}/>
    {{/if}}
    <span>
      {{@text}}
    </span>
  {{else}}
    {{#if @icon}}
      <FaIcon class="button__icon" @icon={{@icon}}/>
    {{/if}}
    <span>
      {{yield}}
    </span>
  {{/if}}
</button>
