<button
  type={{if @submit "submit" "button"}}
  class="button
    {{if @primary "button--primary"}}
    {{if @secondary "secondary-button"}}
    {{if @iconButton "icon-button"}}
    {{if @fullWidth "button--full-width"}}
    {{if @noBorder "button--no-border"}}
    {{if @transparent "transparent-button"}}
    "
  ...attributes
>
  {{#if @text}}
    {{#if @icon}}
      <FaIcon class="button__icon" @icon={{@icon}} @prefix={{if @prefix @prefix "fas"}}/>
    {{/if}}
    <span class="button__text">
      {{@text}}
    </span>
  {{else}}
    {{#if @icon}}
      <FaIcon @icon={{@icon}} @prefix={{if @prefix @prefix "fas"}}/>
    {{/if}}
  {{/if}}
</button>
