<h1>Users: {{this.users.length}}</h1>
<TextInput
  @placeholder="Search for friends"
  @onKeyUp={{fn this.debounceFindFriends}}
  @icon="search"
/>
{{#if this.searching}}
  <p>Finding friends...</p>
{{else}}
  {{#if this.noUsersFound}}
    <p data-test-no-users-found-message>No users found.</p>
  {{else}}
    <UserList
      @users={{this.users}}
      @sendFriendRequest={{fn @sendFriendRequest}}
    />
  {{/if}}
{{/if}}
