<li
  class="card-list__card goal {{if @goal.completed "goal-card--completed"}}"
  data-test-goal-card
>
  <div class="card__body">
    <div class="media">
      <div class="media__asset">
        <ProgressCircle @value={{@goal.percentageCompleted}} />
      </div>
      <div class="media__body">
        <h3 class="h3" data-test-exercise>
          {{capitalize @goal.exercise.name}}
        </h3>
        <span class="media__sub-title">
          <span data-test-weight>{{@goal.weight}}kg</span> for <span data-test-reps>{{@goal.reps}} Reps</span>
        </span>
      </div>
      <div class="media__actions">
        <div class="flex">
          <LinkTo
            class="button"
            @route="exercises.exercise.goals.edit"
            @model={{@goal}}
            data-test-delete-edit-Link
          >
            <FaIcon @icon="edit" @prefix="far" />
            <span>Edit</span>
          </LinkTo>
          <Button
            onclick={{this.deleteGoal}}
            data-test-delete-goal-button
          >
            <FaIcon @icon="trash-alt" @prefix="far" />
            <span>Delete</span>
          </Button>
        </div>
    </div>
    </div>
  </div>
  <div class="goal-card__footer">
      {{#if @goal.isCompleted}}
        <div class="chip chip--success">
          <FaIcon @icon="check" />
          Completed
        </div>
      {{else}}
        {{#if @goal.isOverdue}}
          <div class="chip chip--warning">
            <FaIcon @icon="check" />
            Overdue
          </div>
        {{/if}}
        <div class="chip chip--primary">
          Due in 3 months
        </div>
        <Button @outlinedButton={{true}} onclick={{toggleStatus}}>
          <FaIcon @icon="check" />
          Mark Complete
        </Button>
      {{/if}}
  </div>
</li>
{{#if this.showConfirmModal}}
  <ModalDialog
    @onClose={{fn this.toggleModal}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
  <div class="card__body">
    <h2>Delete this goal?</h2>
    <div class="flex flex-end">
      <Button @icon="check" onclick={{this.deleteGoal}}>
        Yes
      </Button>
      <Button @icon="ban" onclick={{this.toggleModal}}>
        No
      </Button>
    </div>
  </div>
  </ModalDialog>
{{/if}}
