{{#if @records.length}}
  <div class="grid grid--4-cols">
    <span>Exercise</span>
    <span>Weight Lifted</span>
    <span>Reps</span>
    <span>Date</span>
  </div>
  <div class="list card__body card">
    {{#each @records as |record|}}
    <LinkTo @route="records.record" @model={{record}} class="list__item flex grid grid--4-cols" data-test-lift-record>
      <span data-test-lift-record-exercise>{{record.exercise.name}}</span>
      <span data-test-lift-record-weight-lifted>{{record.weightLifted}}</span>
      <span data-test-lift-record-reps>{{record.reps}}</span>
      <span data-test-lift-record-date>{{format-date record.date}}</span>
    </LinkTo>
    {{/each}}
  </div>
{{else}}
  <ZeroStateMessage @message="No Records" @icon="trophy" />
{{/if}}
