<form data-test-sign-up>
  <div class="card">
    <div class="card__body">
      <TextInput
        @value={{@user.username}}
        @label="Username"
        @errors={{@user.errors.username}}
        @icon="user"
        data-test-username
      />
      <TextInput
      class="foo"
        @value={{@user.email}}
        @label="Email"
        @errors={{@user.errors.email}}
        data-test-email
        @icon="envelope"
      />
      <TextInput
        @type="password"
        @value={{@user.password}}
        @label="Password"
        @errors={{@user.errors.password}}
        @icon="lock"
        data-test-password
      />
      <Button
        type="button"
        {{action 'test'}}
        @icon="paper-plane"
        data-test-submit-button
      >
        Sign Up
      </Button>
    </div>
  </div>
  <p class="text-align-center">
    Already have an account ? <LinkTo @route="sign-in">Sign In</LinkTo>
  </p>
</form>
