<Form data-test-sign-up>
  <h2 class="u-center-text u-bolder">Sign Up</h2>
  <InputField
    @label="Username"
    @errors={{this.goal.errors.username}}
  >
    <TextInput
      @value={{@user.username}}
      @label="Username"
      @errors={{@user.errors.username}}
      @icon="user"
      data-test-username
    />
  </InputField>
  <InputField
    @label="Email"
    @errors={{this.goal.errors.email}}
  >
    <TextInput
      @value={{@user.email}}
      @label="Email"
      @errors={{@user.errors.email}}
      data-test-email
      @icon="envelope"
    />
  </InputField>
  <InputField
    @label="Password"
    @errors={{this.goal.errors.password}}
  >
    <TextInput
      type="password"
      @value={{@user.password}}
      @label="Password"
      @errors={{@user.errors.password}}
      @icon="lock"
      data-test-password
    />
  </InputField>
  <p>
    <Button
      @submit={{true}}
      @primaryButton={{true}}
      @icon="paper-plane"
      data-test-submit-button
      @text="Sign Up"
      @fullWidth={{true}}
    />
  </p>
  <p class="text-align-center">
    Already have an account ? <LinkTo @route="sign-in">Sign In</LinkTo>
  </p>
</Form>
