{{#if @icon}}
  <div class="text-input__icon-container">
    <FaIcon @icon={{@icon}} class="text-input__icon"/>
    <Input
      class="text-input"
      @placeholder={{@placeholder}}
      @value={{@value}}
      @model={{@model}}
      disabled={{@disabled}}
      @key-up={{@onKeyUp}}
      ...attributes
    />
  </div>
{{else}}
  <Input
    class="text-input"
    @placeholder={{@placeholder}}
    @value={{@value}}
    @model={{@model}}
    disabled={{@disabled}}
    @key-up={{@onKeyUp}}
    ...attributes
  />
{{/if}}
