<FullScreenModal
  @closeOnClickOverlay={{false}}
>
  <Toolbar
    @title="Select an Exercise"
    @backRoute="workout.new"
  />
  {{!-- <div class="box box--with-bottom-margin">
    <div class="card__body">
      <label for="">Category</label>
      <PowerSelect
        @triggerClass="reps-selector"
        @triggerComponent="select-trigger"
        @options={{array  }}
        @selected={{this.record.reps}}
        @placeholder="How many reps..."
        @onChange={{fn (mut this.record.reps)}} as |rep|
      >
        {{rep}}
      </PowerSelect>
    </div>
  </div> --}}
  <ul class="list">
    {{#each this.model.exercises as |exercise|}}
      <li
        role="button"
        {{on 'click' (fn this.selectExercise exercise)}}
        class="list__item"
      >
      {{exercise.name}}
      </li>
    {{/each}}
  </ul>
</FullScreenModal>
