<PageOverlay @title="Add New Record">
  <div class="card">
    <div class="card__body">
      <div class="form-field">
        <label>Weight</label>
        <Input />
      </div>
      <div class="form-field">
        <label>Reps</label>
        <Input @value="" />
      </div>
      <div class="form-field">
        <FileUpload @name="photos"
                  @accept="image/*"
                  @onfileadd={{route-action "uploadImage"}} as |queue|>
          <a class="button">
            {{#if queue.files.length}}
              Uploading...
            {{else}}
              Upload Video
            {{/if}}
          </a>
        </FileUpload>
        <FileDropzone @name="photos" as |dropzone queue|>
          {{#if dropzone.active}}
            {{#if dropzone.valid}}
              Drop to upload
            {{else}}
              Invalid
            {{/if}}
          {{else if queue.files.length}}
            Uploading {{queue.files.length}} files. ({{queue.progress}}%)
            {{#each queue.files as |file|}}
              <img src={{file.url}} alt={{file.name}} >
            {{/each}}
          {{else}}
            <h4>Upload File</h4>
            <p>
              {{#if dropzone.supported}}
                Drag and drop images onto this area to upload them or
              {{/if}}
              <FileUpload @name="photos"
                          @for="upload-photo"
                          @accept="video/*"
                          @multiple={{true}}
                          @onfileadd={{route-action "uploadImage"}} >
                <a tabindex={{0}}>Add an Image.</a>
              </FileUpload>
            </p>
          {{/if}}
        </FileDropzone>
        {{#each (file-queue name="photos") as |queue|}}
          {{#each queue.files as |file|}}
            <img src={{file.url}} alt={{file.name}} >
            {{progress-bar progress=file.progress}}
          {{/each}}
        {{/each}}
      </div>
      <div class="form-field">
        <button type="button" name="button">Submit</button>
      </div>
    </div>
  </div>
</PageOverlay>
