<Toolbar @title={{@model.username}} @backRoute="index"/>
<div class="user-profile">
  <div
    class="user-profile__background"
  >
    <div class="user-profile__pic">
      <ProfilePic @user={{@model}}/>
      <h3>{{@model.username}}</h3>
    </div>
    <Button
      @text="Add Cover Photo"
      @icon="camera"
      class="user-profile__edit-bg-button"
    />
  </div>
  <div class="flex flex--flex-end user-profile__banner">
    <div class="">
      <Button @text="Add Friend" @icon="user-plus" @secondary={{true}} />
    </div>
  </div>
  <Tabs @tabs={{ array
    (hash label="Posts" route="users")
    (hash label="Friends" route="my-network.friends")
    (hash label="Programs" route="my-network.friend-requests")
  }}/>
</div>
