<div class="card__list-item" data-test-user-card>
  <div class="media media--align-center">
    <div class="media__asset">
      <UserAvatar />
    </div>
    <div class="media__body">
      <h3 class="text" data-test-user-card-username>{{@user.username}}</h3>
    </div>
    <div class="media__actions">
      {{#if @user.isFriend}}
        <Button
          @text="Friends"
          @primaryButton={{true}}
          data-test-is-friend-button
        />
      {{else if @user.friendRequestSent}}
        <Button
          @text="Request Sent"
          class="button request-sent"
          @primaryButton={{true}}
          {{on 'click' (fn this.friends.cancelOrDeclineRequest @user.id )}}
        />
      {{else if @user.friendRequestRecieved}}
        <Button
          @text="Confirm"
          {{on 'click' (fn this.friends.acceptFriendRequest @userfriendRequest)}}
          @primaryButton={{true}}
          data-test-accept-friend-request-button
        />
        <Button
          @text="Decline"
          {{on 'click' (fn this.friends.removeFriend @user)}}
          @secondaryButton={{true}}
        />
      {{else}}
        <Button
          @text="Add"
          @icon="user-plus"
          @secondaryButton={{true}}
          {{on 'click' (fn this.sendFriendRequest @user)}}
          data-test-friend-request-button
        />
      {{/if}}
    </div>
  </div>
</div>
