<div>
  {{#each @workoutPrograms as |program|}}
    <div class="card">
      <div class="card__header">
        <div class="flex flex--space-between">
          <div class="">
            <div class="h3">{{program.name}}</div>
          </div>
          <div class="">
            <Icon
              @icon="trash-alt"
              @prefix="far"
              {{on 'click' (fn this.deleteWorkoutProgram program)}}
            />
          </div>
        </div>
      </div>
      <div class="card__body">
        <h4 class="h5">Duration</h4>
        <p>{{program.duration}} Weeks</p>
        <h4 class="h5">Exercises</h4>
        <ul class="inline-list">
          {{#each program.exercises as |exercise|}}
            <li class="inline-list__item">
              <span class="chip">{{exercise}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="card__footer">
        <Button
          @text="Start Program"
          @primary={{true}}
          {{on 'click' (if this.workout.hasActiveWorkoutProgram
              (fn this.showActivateProgramConfirmDialog program)
              (fn this.activateProgram program)
            )
          }}
        />
        <Button
          @text="Preview" @secondary={{true}}
          @route="workout.my-programs.my-program"
          @model={{program}}
        />
      </div>
    </div>
  {{/each}}
  {{#if this.showingActivateProgramConfirmDialog}}
    <ConfirmModal
      @title="Start Program?"
      @text="You already started a workout program are you sure you want to to start this program instead?"
      @onCancel={{fn this.hideActivateProgramConfirmDialog}}
      @onConfirm={{fn this.activateProgram this.selectedProgram}}
    />
  {{/if}}
</div>
