<div class="post card">
  <div class="card__header">
    <div class="media">
      <div class="media__asset">
        <UserAvatar @user={{@post.author}}/>
      </div>
      <div class="media__body">
        <h2 class="card__title">
          <LinkTo @route="users.user" @model={{@post.author}}>
            {{@post.author.username}} <span class="text text--muted">{{ @post.actionText}}</span>
          </LinkTo>
        </h2>
        <h3 class="card__sub-title">{{moment-from @post.createdAt}}</h3>
      </div>
      <div class="media__actions">
        {{#if this.isCurrentUsersPost}}
          <BasicDropdown @horizontalPosition="auto-left" as |dd|>
            <dd.Trigger>
              <Icon @icon="ellipsis-h" @iconButton={{true}} />
            </dd.Trigger>
            <dd.Content>
              <div class="menu">
                <div role="button" class="menu__item" {{on 'click' (fn this.deletePost @post) }}>
                  <FaIcon @icon="trash"/> Delete
                </div>
              </div>
            </dd.Content>
          </BasicDropdown>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="card__body">
    <div class="text">
      <LinkTo @route={{this.postRoute}} @model={{@post}}>
        {{#if (eq @post.actionType "upload-profile-pic")}}
          <img src={{@post.author.profilePic}} class="profile-img-post" alt="profile pic" />
        {{else}}
          <p>{{@post.content}}</p>
        {{/if}}
      </LinkTo>
    </div>
  </div>
  {{#if @post.media}}
    <div class="media-preview">
      {{#if @post.media.isImage}}
        <img src={{@post.media.url}} alt="post media">
      {{else}}
        <video src={{@post.media.url}} controls>
        </video>
      {{/if}}
    </div>
  {{/if}}
  {{#if (or @post.likesCount @post.commentsCount)}}
    <div class="post__meta">
    <div>
      {{#if @post.likesCount}}
        <div class="post__like-meta">
          <FaIcon @icon="thumbs-up"/>
          <EmberTooltip>
            <div class="h5">
              Likes
            </div>
            {{#each @post.likes as |like|}}
              {{like.user.username}}
            {{/each}}
            {{#if this.hasMoreLikes}}
              And {{subtract @post.likesCount @post.likes.length}} more...
            {{/if}}
          </EmberTooltip>
        </div>
        {{@post.likesCount}}
      {{/if}}
    </div>
    <div>
      {{#if @post.commentsCount}}
        {{@post.commentsCount}} Comments
      {{/if}}
    </div>
  </div>
  {{/if}}
  <div class="post__actions">
    <Button
      @icon="thumbs-up"
      class="post__like-button {{if @post.like "post__like-button--liked"}}"
      {{on 'click' (if @post.like (action this.unlikePost @post) (action this.likePost @post)) }}
      @prefix={{if @post.like "fas" "far"}}
      @text="Like"
    />
    <Button
      @icon="comment"
      @prefix="far"
      onclick={{this.toggleComments}}
      @text="Comment"
    />
  </div>
  {{#if this.showingComments}}
    <div class="card__footer">
      <form {{on "submit" this.postComment}}>
        <div class="media">
          <div class="media__asset">
            <UserAvatar class="post-comments__user-avatar" @user={{@post.author}} />
          </div>
          <div class="media__body">
            <TextInput
              @value={{this.commentContent}}
              @placeholder="Write a comment..."
              data-test-post-comments-input
            />
          </div>
        </div>
      </form>
      <Posts::Post::Comments @comments={{@post.comments}} @post={{@post}} />
    </div>
  {{/if}}
</div>
