<div class="">
  {{#each @workout.exercises as |workoutBlock index|}}
    <div class="h5">
      Exercise {{increment index}} - {{workoutBlock.exercise}}
    </div>
    <p>{{workoutBlock.note}}</p>
    <WorkoutBlock
      @workoutBlock={{workoutBlock}}
      @onUpdateExerciseSet={{fn @onUpdateExerciseSet}}
      @onToggleExerciseSetCompleted={{fn @onToggleExerciseSetCompleted}}
      @workoutIsComplete={{@workout.completed}}
      @previewMode={{@previewMode}}
    />
  {{/each}}
</div>
