<div class="">
  {{#each @workout.exercises as |workoutBlock index|}}
    <div class="h5">
      Exercise {{increment index}} - {{workoutBlock.exercise}}
    </div>
    <p>{{workoutBlock.note}}</p>
    <WorkoutBlock
      @workoutBlock={{workoutBlock}}
      @onUpdateExerciseSet={{fn @onUpdateExerciseSet}}
      @onToggleExerciseSetCompleted={{fn @onToggleExerciseSetCompleted}}
    />
  {{/each}}
</div>
{{#if @workout.everyWorkoutBlockIsCompleted}}
  <div class="content-container__section">
    <div class="flex flex--flex-end">
      <Button
        @text="Finish Workout"
        @primary={{true}}
        @icon="check"
        {{on 'click' @completeWorkout}}
      />
    </div>
  </div>
  <br>
{{/if}}
