<form>
  <div class="card">
    <div class="card__body">
      <TextInput
        @value={{@goal.weight}}
        @label="Weight"
        @errors={{@goal.errors.weight}}
        data-test-username
      />
      <TextInput
        @value={{@goal.reps}}
        @label="Reps"
        @errors={{@goal.errors.reps}}
        data-test-username
      />
      <div class="input">
        <label>Date</label>
        <EmberFlatpickr
          @date={{readonly @goal.dueDate}}
          @dateFormat='M/D/Y'
          @onChange={{fn (mut @goal.dueDate)}}
        />
      </div>
      <div class="input">
        <label>Exercise</label>
        <PowerSelect
        @options={{@exercises}}
        @searchField="name"
        @selected={{this.selectedExercise}}
        @onChange={{fn (mut this.selectedExercise)}} as |exercise|
        >
        {{exercise.name}}
      </PowerSelect>
      </div>
      <Button
        @type="submit"
        data-test-submit-button
      >
        Add Goal
      </Button>
    </div>
  </div>
</form>
