<Toolbar
  @title="Workout"
  @tabs={{ array
    (hash label="Diary" route="workout.diary")
    (hash label="My Programs" route="workout.my-programs")
    (hash label="History" route="workout.history")
  }}
/>
<div class="content-container">
  <div class="content-container__section">
    <Button
      @route="workout.my-programs.new"
      @text="New Program"
      @primary={{true}}
      @icon="plus"
    />
  </div>
  {{#if @model}}
    <WorkoutProgramTemplate::List @workoutPrograms={{@model}} />
  {{else}}
    <ZeroStateMessage @message="You have not created any workout porgrams" @icon="clipboard-list"/>
  {{/if}}
  {{outlet}}
</div>
