
<div class="workout-template__exercise-sets">
  <div class="">Set</div>
  <div class="">Reps</div>
  <div class=""></div>
  {{#each @workoutBlock.sets as |exerciseSet index|}}
    <div>
      {{increment index}}
    </div>
    <div>
      <TextInput
        @value={{exerciseSet.targetReps}}
        type="number"
      />
    </div>
    <div class="workout-template__set-action">
      {{#if index}}
        <Icon
          {{on 'click' (fn @removeWorkoutProgramSet @workoutBlock exerciseSet)}}
          @icon="times"
          @primary={{true}}
        />
      {{/if}}
    </div>
  {{/each}}
</div>
<Form @onSubmit={{fn @addWorkoutProgramSet @workoutBlock}}>
  <Button
    @submit={{true}}
    @secondary={{true}}
    @text="Add Set"
    @icon="plus"
    @noBorder={{true}}
  />
</Form>
