<div>
  {{#if @workoutIsComplete}}
    <div class="card">
      <div class="card__body">
        <div class="workout-program__workout-results">
          <div class="workout-program__workout-result-header">
            Set
          </div>
          <div class="workout-program__workout-result-header">
            Weight
          </div>
          <div class="workout-program__workout-result-header">
            Reps done
          </div>
          <div class="workout-program__workout-result-header">
            Target reps
          </div>
          <div class="workout-program__workout-result-header">
          </div>
          {{#each @exerciseSets as |exerciseSet index|}}
            <div class="workout-program__workout-result-cell">
              {{increment index}}
            </div>
            <div class="workout-program__workout-result-cell">
              {{exerciseSet.weightLifted}}
            </div>
            <div class="workout-program__workout-result-cell">
              {{exerciseSet.repsCompleted}}
            </div>
            <div class="workout-program__workout-result-cell">
              {{exerciseSet.targetReps}}
            </div>
            {{#if exerciseSet.completedSuccessfully }}
              <div class="workout-program__workout-result-cell workout-program__workout-result-cell--success">
                <FaIcon @icon="check" />
              </div>
            {{else}}
              <div class="workout-program__workout-result-cell workout-program__workout-result-cell--failed">
                <FaIcon @icon="times" />
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{else}}
      {{#each @exerciseSets as |exerciseSet index|}}
      <div class="card">
        <div class="card__body">
        <div class="workout-program__set-header">
          <span class="workout-program__set-header-primary-label">
            Set {{increment index}}
          </span>
          <span class="workout-program__set-header-secondary-label">
            {{exerciseSet.targetReps}} Reps
          </span>
        </div>
        <div class="workout-program__set-row {{if exerciseSet.completed "workout-program__set-row--completed"}}">
          <label>Weight (Kgs)</label>
          <label>Reps</label>
          <div class="">
          </div>
          <div>
            <TextInput
              @value={{exerciseSet.weightLifted}}
              type="number"
              @inline={{true}}
              @disabled={{exerciseSet.completed}}
            />
          </div>
          <div>
            <TextInput
              @value={{exerciseSet.repsCompleted}}
              type="number"
              @inline={{true}}
              @disabled={{exerciseSet.completed}}
            />
          </div>
          <div class="">
            <Checkbox
              @value={{exerciseSet.completed}}
              @onChange={{fn @onToggleExerciseSetCompleted exerciseSet}}
              @disabled={{exerciseSet.isNotValid}}
            />
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  {{/if}}
</div>
