<div class="content-container">
  <Form @onSubmit={{this.createWorkoutProgram}} class="workout-program">
    {{!-- Program Name --}}
    <div class="content-container__section">
      <Form::Field @label="Program Name">
        <TextInput @value={{this.workoutProgram.name}} @placeholder="eg. strength & conditioning" />
      </Form::Field>
    </div>
    {{!-- Weeks --}}
    <div class="content-container__section">
        <div class="h5">Weeks</div>
        <ul class="inline-list">
          {{#each this.weeks as |week index|}}
            <li class="inline-list__item">
              <Button
                @text="Week {{week.week}}"
                @primary={{equals index this.selectedWeekIndex}}
                {{action  this.selectWeek index}}
              />
              <EmberPopover @event="hover">
                <Icon @icon="trash-alt" @prefix="far" {{action this.removeWeek index}} @tooltip="Delete Week"/>
                {{#if week.workouts.length}}
                  <Icon @icon="copy" @prefix="far" {{action this.copyWeek week}} @tooltip="Copy Week" />
                {{/if}}
              </EmberPopover>
          </li>
        {{/each}}
        <li class="inline-list__item u-relative">
          <Button @text="Add Week" @transparent={{true}} @icon="plus" {{action this.addWeek}}/>
        </li>
      </ul>
    </div>
    <div class="content-container__section">
        <div class="h5">Days</div>
        <ul class="inline-list">
          {{#each this.weeks as |week index|}}
            <li class="inline-list__item">
              <Button
                @text="Day {{week.week}}"
                @primary={{equals index this.selectedWeekIndex}}
                {{action  this.selectWeek index}}
              />
              <EmberPopover @event="hover">
                <Icon @icon="trash-alt" @prefix="far" {{action this.removeWeek index}} @tooltip="Delete Week"/>
                {{#if week.workouts.length}}
                  <Icon @icon="copy" @prefix="far" {{action this.copyWeek week}} @tooltip="Copy Week" />
                {{/if}}
              </EmberPopover>
          </li>
        {{/each}}
        <li class="inline-list__item u-relative">
          <Button @text="Add Week" @transparent={{true}} @icon="plus" {{action this.addWeek}}/>
        </li>
      </ul>
    </div>
    <div class="content-container__section">
      {{#each this.workoutSessions as |workout|}}
        <div class="flex flex--space-between">
          <div>
            <h5>Day {{workout.weekDay}} Workout</h5>
          </div>
          <div>
            <Icon
              @icon="trash-alt"
              @prefix="far"
              {{action this.removeWorkoutSession workout}}
            />
            {{#if workout.exercises.length}}
              <Icon
                @icon="copy"
                @prefix="far"
                @tooltip="Copy Day"
                {{action this.copyWorkoutSession workout}}
              />
             {{/if}}
            </div>
          </div>
          {{#each workout.exercises as |workoutBlock index|}}
            <div class="card">
              <div class="card__body">
                <WorkoutProgramTemplate::Form::WorkoutBlock
                  @workoutBlock={{workoutBlock}}
                  @workoutSession={{workout}}
                  @removeWorkoutProgramSet={{action this.removeWorkoutProgramSet}}
                  @addWorkoutProgramSet={{action this.addWorkoutProgramSet}}
                  @removeWorkoutBlock={{action this.removeWorkoutBlock }}
                  @order={{increment index}}
                />
              </div>
            </div>
            {{/each}}
          <div class="workout-program__add-exercise-button">
            <ButtonLink
              @secondary={{true}}
              @noBorder={{true}}
              @text="Add Exercise"
              @icon="plus"
              @route="workout.new.exercise-select"
              @query={{hash workoutSessionId=(if workout.id workout.id workout.guid)}}
            />
          </div>
      {{/each}}
      {{#if this.showAddWorkoutSessionButton}}
        <Button
          {{action this.addWorkoutSession}}
          @text="Add Day"
          @icon="plus"
          class="workout-program__add-session-button"
        />
      {{/if}}
    </div>
    <Button
      @text="Create Workout Program"
      @icon="plus"
      @primary={{true}}
      @fullWidth={{true}}
      disabled={{this.isNotValid}}
      {{action this.createWorkoutProgram}}
    />
  </Form>
</div>
