<div class="card {{if @flat "card--flat"}}">
  <div class="card__body">
    <div>
      <TextInput
        @placeholder="Search exercises..."
        @icon="search"
        @onKeyUp={{fn this.handleKeyPress}}
      />
    </div>
    <div class="card__section">
      <ul class="card__list">
        {{#each this.filteredExercises as |exercise|}}
          <li role="button" class="card__list-item" {{on 'click' (fn this.selectExercise exercise)}}>
            {{exercise.name}}
          </li>
        {{else}}
          <p>No exercises found</p>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
