<form data-test-lift-record-form {{on "submit" this.createOrUpdateRecord}}>
  <div class="box">
      {{!-- Exercise Field --}}
      {{#unless @selectedExercise}}
        <InputField
          @label="Exercise"
          @errors={{this.record.errors.exercise}}
          >
          <PowerSelect
            @triggerClass="exercise-selector"
            @options={{@exerciseOptions}}
            @searchField="name"
            @placeholder="Select and exercise..."
            @selected={{this.record.exercise}}
            @triggerComponent="select-trigger"
            @onChange={{fn (mut this.record.exercise)}} as |exercise|
          >
          {{capitalize exercise.name}}
        </PowerSelect>
      </InputField>
      {{/unless}}
      <InputField
        @label="Weight Lifted"
        @errors={{this.record.errors.weightLifted}}
      >
        <TextInput
          @value={{this.record.weightLifted}}
          @placeholder="Enter weight"
          data-test-weight-lifted-input
          type="number"
        />
      </InputField>
      <InputField
        @label="Reps"
        @errors={{this.record.errors.reps}}
      >
        <PowerSelect
          @triggerClass="reps-selector"
          @triggerComponent="select-trigger"
          @options={{array 1 2 3 4 5 6 7 8 9 10 11 12 13 }}
          @selected={{this.record.reps}}
          @placeholder="How many reps..."
          @onChange={{fn (mut this.record.reps)}} as |rep|
        >
          {{rep}}
        </PowerSelect>
      </InputField>
      <InputField
        @errors={{this.record.errors.dueDate}}
        @label="Date"
      >
        <EmberFlatpickr
          class="text-input"
          data-test-record-date
          @placeholder="Select date you completed the record..."
          @mode="single"
          @date={{readonly this.record.date}}
          @dateFormat='M/D/Y'
          @onChange={{fn this.onDateChange}}
        />
      </InputField>
      <div class="button-group">
        <Button
          @submit={{true}}
          data-test-lift-record-submit-button
          @primaryButton={{true}}
          @text="Save"
        />
      <Button @outlinedButton={{true}} onclick={{this.cancel}} @text="Cancel" />
      </div>
  </div>
</form>
