<form>
  <div class="card">
    <div class="card__body">
      <TextInput
        @value={{this.user.username}}
        @label="Username"
        @errors={{this.user.errors.username}}
      />
      <TextInput
        @value={{this.user.email}}
        @label="Email"
        @errors={{this.user.errors.email}}
      />
      <TextInput
        @type="password"
        @value={{this.user.password}}
        @label="Password"
        @errors={{this.user.errors.email}}
      />
      <button type="submit" class="button">Sign Up</button>
    </div>
  </div>
  <p class="text-align-center">
    Already have an account ? <LinkTo @route="sign-in">Sign In</LinkTo>
  </p>
</form>
