<WorkoutProgram::Navbar
  @currentWorkoutSession={{this.currentWorkout}}
  @hasNextWorkout={{this.hasNextWorkout}}
  @hasPreviousWorkout={{this.hasPreviousWorkout}}
  @goToNextWorkout={{fn this.goToNextWorkout}}
  @goToPreviousWorkout={{fn this.goToPreviousWorkout}}
/>
<div class="workout-program__header">
  {{#if @workoutProgram.name}}
    <div class="workout-program__sub-title">
      Program
    </div>
    <div class="workout-program__title">
      <div>{{capitalize @workoutProgram.name}}</div>
    </div>
  {{/if}}
  {{!-- <div class="flex flex-">
    <Icon @icon="info"  />
    <Icon @icon="trophy"  />
    <Icon @icon="eye"  />
  </div> --}}
  <div class="workout-program__progress">
    <span class="text text--muted">Progress</span>
    <div class="h3">
      {{@workoutProgram.progress}}% completed
    </div>
    <div class="workout-program__progress-outer-bar">
      <div
        class="workout-program__progress-inner-bar
        workout-program__progress-inner-bar--value-{{@workoutProgram.progress}}"
        >
      </div>
    </div>
    <div class="flex flex--space-between">
      {{!-- <span class="text text--muted">0%</span>
      <span class="text text--muted">100%</span> --}}
    </div>
  </div>
  <br>
  <div class="flex flex--justify-center">
    {{#if this.showFinishWorkoutProgramButton}}
      <Button @primary={{true}} @text="Finish Program"/>
    {{/if}}
  </div>
</div>
<div class="content-container">
  {{#if this.canFinishWorkoutSession}}
    <div class="flex flex--flex-end">
      {{#if this.canFinishWorkoutProgram}}
        <Button
          @icon="check"
          @primary={{true}}
          @text="Finish Workout"
          {{action this.completeWorkoutSession}}
        />
      {{/if}}
      {{#if this.showFinishWorkoutProgramButton}}
      <Button
      @icon="check"
      @primary={{true}}
      @text="Finish Program"
      {{action this.completeWorkoutProgram}}
      />
      {{/if}}
    </div>
  {{/if}}
  <WorkoutProgram::WorkoutSession
    @workout={{this.currentWorkout}}
    @onToggleExerciseSetCompleted={{action this.toggleExerciseSetCompleted}}
    @onUpdateExerciseSet={{action this.updateExerciseSet}}
    @completeWorkout={{fn this.completeWorkout}}
  />
</div>
{{#if this.showWorkoutCompleteDialog}}
  <WorkoutProgram::WorkoutCompleteDialog
    @onClose={{this.onCloseWorkoutCompleteDialog}}
    @achievments={{this.currentWorkout}}
  />
{{/if}}
