<WorkoutProgram::Navbar
  @currentWorkoutSession={{this.currentWorkout}}
  @hasNextWorkout={{this.hasNextWorkout}}
  @hasPreviousWorkout={{this.hasPreviousWorkout}}
  @goToNextWorkout={{fn this.goToNextWorkout}}
  @goToPreviousWorkout={{fn this.goToPreviousWorkout}}
  @completeWorkout={{fn this.completeWorkout}}
  @totalWeeks={{this.totalWeeks}}
/>
<div class="content-container">
  {{#if (not (or @workoutProgram.completed @previewMode) )}}
  <div class="workout-program__header">
    {{#if @workoutProgram.name}}
    {{!-- <div class="workout-program__sub-title">
    Program
  </div>
  <div class="workout-program__title">
  <div>{{capitalize @workoutProgram.name}}</div>
</div> --}}
{{/if}}
<div class="workout-program__progress">
  <div class="flex flex--space-between">
    <div class="">
      {{!-- <span class="text text--muted">Progress</span>
      --}}
      <div class="h3">
        53 Days left
      </div>
    </div>
    <div class="h3">
      {{@workoutProgram.progress}}%
    </div>
  </div>
  <div class="workout-program__progress-outer-bar">
    <div
    class="workout-program__progress-inner-bar
    workout-program__progress-inner-bar--value-{{@workoutProgram.progress}}"
    >
  </div>
</div>
</div>
</div>
{{/if}}
{{#if this.canFinishWorkoutSession}}
<div class="flex flex--flex-end">
  {{#if this.canFinishWorkoutProgram}}
  <Button
    @icon="check"
    @primary={{true}}
    @text="Finish Workout"
    {{action this.completeWorkoutSession}}
  />
  {{/if}}
</div>
{{/if}}
<WorkoutProgram::Workout
  @workout={{this.currentWorkout}}
  @onToggleExerciseSetCompleted={{action this.toggleExerciseSetCompleted}}
  @onUpdateExerciseSet={{action this.updateExerciseSet}}
  @completeWorkout={{fn this.completeWorkout}}
  @previewMode={{@previewMode}}
/>
</div>
{{#if this.showWorkoutCompleteDialog}}
  <WorkoutProgram::WorkoutCompleteDialog
    @onClose={{fn this.onCloseWorkoutCompleteDialog}}
    @goToNextWorkout={{fn this.goToNextWorkout}}
    @hasNextWorkout={{this.hasNextWorkout}}
    @workout={{this.currentWorkout}}
  />
{{/if}}
{{#if this.showWorkoutProgramCompleteDialog}}
  <WorkoutProgram::WorkoutProgramCompleteDialog
    @onClose={{fn this.onCloseWorkoutProgramCompleteDialog}}
    @workoutProgram={{@workoutProgram}}
  />
{{/if}}
