<ModalDialog
  @targetAttachment="center"
  @translucentOverlay={{true}}
  @containerClass="workout-complete-modal"
  @onClose={{@onClose}}
>
<Icon @icon="times" class="workout-complete-modal__close-icon" {{on 'click' @onClose}}/>
<h2 class="workout-complete-modal__title">Workout Completed <br>🎉💪</h2>
  <div class="workout-complete-modal__results">
    {{#if @workout.goalsAchieved}}
      <div class="workout-complete-modal__results-title">New Goals Acheived</div>
      <ul class="workout-complete-modal__results-list">
        {{#each @workout.goalsAchieved as |goal|}}
          <li class="workout-complete-modal__results-list-item">
            {{capitalize goal.exercise.name}} {{goal.weight}} kgs for {{goal.reps}} reps
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if @workout.personalBestsAchieved}}
      <div class="workout-complete-modal__results-title">Personal Bests Acheived</div>
      <ul class="workout-complete-modal__results-list">
        {{#each @workout.personalBestsAchieved as |pb|}}
          <li class="workout-complete-modal__results-list-item">
            {{capitalize pb.exercise}} {{pb.weight}} kgs for {{pb.reps}} reps
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div>
    {{#if @hasNextWorkout}}
      <Button
        @primary={{true}}
        @text="Go to Next Workout"
        {{on 'click' @goToNextWorkout}}
        @fullWidth={{true}}
      />
    {{/if}}
  </div>
</ModalDialog>
