{{#if @notifications}}
<br>
  <div class="card">
    <div class="card__body">
      <div class="card__list">
        {{#each @notifications as |notif|}}
          <li
            class="card__list-item notification  {{if notif.isUnread "notification--is-unread"}}"
            {{on 'click' (fn this.onClickNotification notif)}}
            role="button"
          >
            <div class="media">
              <div class="media__asset">
                <UserAvatar />
              </div>
              <div class="media__body">
                <div class="">
                  <strong>{{notif.from}}</strong>
                  {{notif.text}}
                </div>
                <span class="notification__date">
                  {{moment-from notif.createdAt}}
                </span>
              </div>
            </div>
        </li>
      {{/each}}
      </div>
  </div>
  </div>
  {{else}}
  <ZeroStateMessage @icon="bell" @message="You have no notifications" />
{{/if}}
