<div class="post-comments">
  <form {{on "submit" this.postComment}}>
    <div class="media">
      <div class="media__asset">
        <UserAvatar class="post-comments__user-avatar"/>
      </div>
      <div class="media__body">
        <InputField>
          <TextInput
            class="post-comments__input"
            @value={{this.commentContent}}
            @placeholder="Write a comment..."
            data-test-post-comments-input
          />
        </InputField>
      </div>
    </div>
  </form>
  {{#each @post.comments as |comment|}}
    <div class="media">
      <div class="media__asset">
        <UserAvatar class="post-comments__user-avatar"/>
      </div>
      <div class="media__body">
        <div class="post-comments__comment">
          <div class="post-comments__comment-author">
            {{comment.author.username}}
          </div>
          {{comment.content}}
        </div>
      </div>
      <div>
        <BasicDropdown as |dd|>
          <dd.Trigger>
            <Button @icon="ellipsis-v" @roundedButton={{true}} />
          </dd.Trigger>
          <dd.Content>
            <div class="dropdown-options">
              <div class="dropdown-options__option">
                Edit comment
              </div>
              <div class="dropdown-options__option">
                Delete comment
              </div>
            </div>
          </dd.Content>
        </BasicDropdown>
      </div>
    </div>
  {{/each}}
</div>
