{{!-- <div class="post card">
  <div class="card__body">
    <div class="media">
      <div class="media__asset">
        <UserAvatar />
      </div>
      <div class="media__body">
        <LinkTo @route="index" class="post__author">
          {{@post.author.username}}
        </LinkTo>
        <div class="post__date">
          {{format-date @post.createdAt}}
        </div>
        {{@post.content}}
      </div>
    </div>
  </div>
  <div class="post__actions">
    <Button @icon="thumbs-up" @text="like" />
    <Button @icon="comment" @text="Comment" onclick={{this.showComments}}/>
  </div>
  {{#if this.showingComments}}
    <Post::Comments @post={{@post}} />
  {{/if}}
</div> --}}

<div class="card card--with-bottom-margin">
  <div class="card__body">
    <div class="media">
      <div class="media__asset">
        <FaIcon @icon="user-circle" @size="2x"/>
      </div>
      <div class="media__body">
        <h2 class="card__title">{{@post.author.username}}</h2>
        <h3 class="card__sub-title">Apr 22 at 8:01 AM <FaIcon @icon="world"/></h3>
      </div>
      <div class="media__actions">
        <BasicDropdown as |dd|>
          <dd.Trigger>
            <Button @icon="ellipsis-v" @iconButton={{true}} />
          </dd.Trigger>
          <dd.Content>
            <div class="dropdown-options">
              <div class="dropdown-options__option">
                <FaIcon @icon="edit"/> Edit Post
              </div>
              <div class="dropdown-options__option">
                <FaIcon @icon="trash"/> Delete Post
              </div>
            </div>
          </dd.Content>
        </BasicDropdown>
      </div>
    </div>
    <p>{{@post.content}}</p>
  </div>
  <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
  <div class="card__footer card__footer--small">
    <Button @icon="thumbs-up" @text="Like" @fullWidth={{true}} />
    <Button @icon="comment" @text="Comment" onclick={{this.showComments}} @fullWidth={{true}} />
    <Button @icon="share" @text="Share" onclick={{this.showComments}} @fullWidth={{true}} />
  </div>
  {{#if this.showingComments}}
    <Post::Comments @post={{@post}} />
  {{/if}}
</div>
