<div class="post card">
  <div class="card__body">
    <div class="media">
      <div class="media__asset">
        <UserAvatar />
      </div>
      <div class="media__body">
        <LinkTo @route="index" class="post__author">
          {{@post.author.username}}
        </LinkTo>
        <div class="post__date">
          {{format-date @post.createdAt}}
        </div>
        {{@post.content}}
      </div>
    </div>
  </div>
  <div class="post__actions">
    <Button @icon="thumbs-up" @text="like" />
    <Button @icon="comment" @text="Comment" onclick={{this.showComments}}/>
  </div>
  {{#if this.showingComments}}
    <Post::Comments @post={{@post}} />
  {{/if}}
</div>
