{{#if (or (eq this.target.currentRouteName "sign-in") (eq this.target.currentRouteName "sign-up"))}}
  <div class="landing-page">
    <div class="landing-page__container">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="app-layout">
    <div class="app-layout__left-container">
      <AppNavbar />
    </div>
    <div class="app-layout__main-container">
      {{outlet}}
    </div>
    <div class="app-layout__right-container">
      {{#each @model as |friend|}}
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              <LinkTo @route="users.user" @model={{friend}} >
                {{friend.username}}
              </LinkTo>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
