{{#if (or (eq this.target.currentRouteName "sign-in") (eq this.target.currentRouteName "sign-up"))}}
  <div class="landing-page">
    <div class="landing-page__container">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="app-layout">
    <div class="app-layout__left-container">
      <AppNavbar />
    </div>
    <div class="app-layout__main-container">
      {{outlet}}
    </div>
    <div class="app-layout__right-container">
      {{#each @model as |friend|}}
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
        <div class="card__list">
          <div class="card__list-item media media--align-center">
            <div class="media__asset">
              <UserAvatar @user={{friend}} />
            </div>
            <div class="media__body">
              {{friend.username}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
{{!-- <TextLink @route="index" @text="Text Link" />
<TextLink @route="index" @text="Text Link" @primary={{true}} />

<ButtonLink @route="index" @text="Button Link" />
<ButtonLink @route="index" @text="Button Link" @primary={{true}} />

<Button @text="Button" />
<Button @text="Button" @primary={{true}} />

<TextButton @text="Text Button" />
<TextButton @text="Text Button" @primary={{true}} /> --}}
