<div class="toolbar">
  <div class="toolbar__container">
    <h1 class="toolbar__title">
      {{#if @backRoute}}
        {{#if @backRouteModel}}
          <LinkTo @route={{@backRoute}} class="toolbar__back-link" @model={{@backRouteModel}}>
            {{#if @showCloseIcon}}
              <Icon @icon="times" class="toolbar__back-icon"/>
            {{else}}
              <Icon @icon="arrow-left" class="toolbar__back-icon"/>
            {{/if}}
          </LinkTo>
        {{else}}
          <LinkTo @route={{@backRoute}} class="toolbar__back-link">
            {{#if @showCloseIcon}}
              <Icon @icon="times" class="toolbar__back-icon"/>
            {{else}}
              <Icon @icon="arrow-left" class="toolbar__back-icon"/>
            {{/if}}
          </LinkTo>
        {{/if}}
      {{/if}}
      {{@title}}
    </h1>
    {{#if @search}}
      <TextInput
        @placeholder={{@search.placeholder}}
        @icon="search"
        @onKeyUp={{fn @search.onSearch}}
      />
    {{/if}}
    {{#if @actions}}
      <div class="toolbar__links">
        {{#each @actions as |action|}}
          {{#if action.route}}
            {{#if action.model}}
              <LinkTo @route={{action.route}} @model={{action.model}} class="toolbar__link" >
                {{#if action.text}}
                  <span class="u-bold">
                    {{uppercase action.text}}
                  </span>
                {{/if}}
                <Icon
                  class="toolbar__icon"
                  @icon={{action.icon}}
                  @primary={{true}}
                  @prefix={{if action.prefix action.prefix "fas"}}
                />
              </LinkTo>
            {{else}}
              <LinkTo @route={{action.route}} class="toolbar__link" >
                {{#if action.text}}
                  <span class="u-bold">
                    {{uppercase action.text}}
                  </span>
                {{/if}}
                <Icon
                  class="toolbar__icon" @icon={{action.icon}}
                  @primary={{true}}
                  @prefix={{if action.prefix action.prefix "fas"}}
                />
              </LinkTo>
            {{/if}}
          {{else}}
            {{#if action.action}}
              <Icon
                @primary={{true}}
                @icon={{action.icon}}
                @prefix={{if action.prefix action.prefix "fas"}}
                {{on 'click' action.action}}
              />
            {{/if}}
          {{/if}}

        {{/each}}
      </div>
    {{/if}}
  </div>
  {{#if @tabs}}
    <Tabs @tabs={{@tabs}}/>
  {{/if}}
  {{yield}}
</div>
